.block_description_style{
    color: black;
    font-size: 0.8em;
    font-family: Arial;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 5px;

}

.left_part_style{
    font-weight: 700;
    margin-right: 5px;
}

.right_part_style{
    font-weight: 300;
}